h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    color: #ebc670;
    text-shadow: 2px 2px black;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow: 2px 2px #E3B343;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 25px;
}

#steel {
    font-size: 60px;
    text-shadow: 2px 2px #E3B343;
}

body {
    background-color: #EEEEEE;
}

.jumbotron  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/group.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.row-content {
    border-bottom: 2px outset;
    padding: 20px 0;
}

.column-content {
    border: 2px solid;
    display: flex;
    flex-direction: column;
}

h4, h5, p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

img {
    max-width: 75%;
    position: auto;
}

.site-footer {
    background: #202020;
}

.navbar-custom {
    background:rgba(33,33,33,.8);
}
